@import './base/base';
@import './base/typography';

@import './utils/variables';
@import './utils/mixins';

body {
    height: 100vh;
    font-family: 'roboto', 'sans-serif';
    line-height: 1;
    text-align: center;
    min-width: 375px;
}


a {

    color: #FFF;
    text-decoration: none;
}

/* HEADER */

header {
    
    width: 100%;
    padding-top: 1.5rem;
    height: 63px;
}

/* MAIN */

main {

    height: 2004px;
    width: 100%;
}

/* POSITION VILLE */

.city {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    border: none;
    color: #626262;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    height: 50px;


    .fa-map-marker-alt {
       
        padding-right: 9px;
    }
}

/* EXPLORER RESTAURANTS */

.restaurants-exploration {

    align-items: center;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    height: 287px;
    padding: 38px 5px;
    width: 100%;

        h2 {

            min-height: 54px;
            text-align: center;
            width: 234px;
        }

        p {

            margin-top: 12px;
            min-height: 44px;
            text-align: center;
            width: 362px;
          }

}

.btn-explore {

    background-size: 100% 100%;
    display: flex;
    height: 58px;
    justify-content: center;
    align-items: center;
    margin-left: 11.0px;
    margin-top: 27px;
    min-width: 210px;
    padding: 17px 26px;
    border-radius: 25px;
    border: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    background: #EE74DA;
    background: -moz-linear-gradient(-45deg, #EE74DA 0%, #9F5ADC 100%);
    background: -webkit-linear-gradient(-45deg, #EE74DA 0%, #9F5ADC 100%);
    background: linear-gradient(135deg, #EE74DA 0%, #9F5ADC 100%);
    -webkit-box-shadow: 0px 7px 14px -7px rgba(0,0,0,0.73); 
    box-shadow: 0px 7px 14px -7px rgba(0,0,0,0.73);
  }

/* FONCTIONNEMENT */

.functioning {
 
    text-align: left;
    background-color: $background-color;
    height: 441px;
    padding: 45px 12px;
    width: 100%;

    .btn-ensemble {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 300px;
    }

    .btn-select {
        display: flex;
        font-weight: bold;
        align-items: center;
        height: 75px;
        width: 340px;
        background-color: #F6F6F6;
        border-radius: 25px;
        box-shadow: 0px 7px 14px -7px rgba(0,0,0,0.73);
        border: none;
        
  
    }

        .number {
            background-color: #9356DC;
            color: #FFF;
            font-size: 14px;
            border-radius: 11.5px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            min-width: 24px;
            padding: 3px 6px;

        }

            .fa-mobile-alt  {
                align-items: flex-start;
                display: flex;
                margin-bottom: 1.0px;
                margin-left: 26px;
                padding: 0 3px;
                width: 20px;
            }

            .fa-list {

                align-items: flex-start;
                display: flex;
                margin-bottom: 1.0px;
                margin-left: 26px;
                padding: 0 3px;
                width: 20px;

            }

            .fa-store {
                align-items: flex-start;
                display: flex;
                margin-bottom: 1.0px;
                margin-left: 26px;
                padding: 0 3px;
                width: 20px;
            }

                .text-description {
                    letter-spacing: 0;
                    margin-bottom: 1.0px;
                    margin-left: 17px;
                    margin: 0 20px 0 17px;
                    min-height: 20px;
                    min-width: 191px;
                    font-size: 17px;
                    font-weight: 600;
                }   
}


/* RESTAURANTS */

.restaurants {
    background-color: #F6F6F6;
    height: 1226px;
    padding: 45px 12px;
    width: 100%;
    text-align: left;

    h2 {

        min-height: 54px;
        width: 234px;
    }

    .restaurant-block {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1060px;

    }
}
.restaurant-card {

    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;

    img {
        display: block;
        object-fit: cover;
        object-position: center;
        height: 175px;
        width: 100%;
        border-radius: 12px 12px 0 0;
    }

    .nouveau {
        cursor: default !important;
        height: 30px !important;
        width: 80px !important;
        background-color: #99e2d0 !important;
        color: #169475 !important;
        position: absolute !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 3px !important;
        top: 13px !important;
        right: 13px !important;
        font-size: 0.95em !important;
        font-weight: 600 !important;
    
}

        .text-block {
            height: 75px;
            width: 100%;
            background-color: #FFF;
            border-radius: 0 0 20px 20px;
        }
}
/* FOOTER */

footer {

    font-size: 0.938rem;
    line-height: 1.7;
    bottom: 0.4rem;
    left: 1rem;
    text-align: left;
    padding: 2rem;
    background-color: $footer;
    color: #fff;

    h4 {
        padding-bottom: 14px;
    }
    
    .fa-utensils {
        font-size: 13px;
        padding-right: 13px;
    }

    .fa-hands-helping {
        font-size: 11px;
        padding-right: 9px;
    }
    .propose {
        display: flex;
    }


    .partner {
        display: flex;
    }

}