@import './base/base';
@import './base/typography';

@import './utils/variables';
@import './utils/mixins';

body {
    height: 100vh;
    font-family: 'roboto', 'sans-serif';
    line-height: 1;
    text-align: center;
}


a {

    color: #FFF;
    text-decoration: none;
}

/* HEADER */

header {
    
    width: 100%;
    padding-top: 1.5rem;
    height: 63px;
}

/* MAIN */

main {

    height: 100%;
    width: 100%;
}

/* POSITION VILLE */

.city {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    border: none;
    color: #626262;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    height: 50px;


    .fa-map-marker-alt {
       
        padding-right: 9px;
    }
}

/* EXPLORER RESTAURANTS */

.restaurants-exploration {

    align-items: center;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    height: 287px;
    padding: 38px 5px;
    width: 100%;

        h2 {

            margin-left: 1.0px;
            min-height: 54px;
            text-align: center;
            width: 234px;
        }

        p {

            align-self: flex-end;
            margin-top: 12px;
            min-height: 44px;
            text-align: center;
            width: 362px;
          }

}

.btn-explore {

    background-size: 100% 100%;
    display: flex;
    height: 58px;
    justify-content: center;
    align-items: center;
    margin-left: 11.0px;
    margin-top: 27px;
    min-width: 210px;
    padding: 17px 26px;
    border-radius: 25px;
    border: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    background: #EE74DA;
    background: -moz-linear-gradient(-45deg, #EE74DA 0%, #9F5ADC 100%);
    background: -webkit-linear-gradient(-45deg, #EE74DA 0%, #9F5ADC 100%);
    background: linear-gradient(135deg, #EE74DA 0%, #9F5ADC 100%);
    -webkit-box-shadow: 0px 7px 14px -7px rgba(0,0,0,0.73); 
    box-shadow: 0px 7px 14px -7px rgba(0,0,0,0.73);
  }

/* FOOTER */

footer {

    font-size: 0.938rem;
    line-height: 1.7;
    bottom: 0.4rem;
    left: 1rem;
    text-align: left;
    padding: 2rem;
    background-color: $footer;
    color: #fff;

    h4 {
        padding-bottom: 14px;
    }
    
    .fa-utensils {
        font-size: 13px;
        padding-right: 13px;
    }

    .fa-hands-helping {
        font-size: 11px;
        padding-right: 9px;
    }
    .propose {
        display: flex;
    }


    .partner {
        display: flex;
    }

}