.footer {
    font-size: 0.938rem;
    bottom: 0.4rem;
    left: 1rem;
    text-align: left;
    padding: 1.6rem;
    background-color: $footer-color;
    color: #fff;
    width: 100%;
    line-height: 1.6;
  
    @include deskstop {
      width: 1400px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3rem;
    }
  
    &__title {
      padding-bottom: 20px;
  
      @include deskstop {
        padding: 0;
      }
    }
  
    &__block {
      display: flex;
      cursor: pointer;
    }
  
    &__icon1 {
      font-size: 14px;
      margin-right: 13px;
    }
  
    &__icon2 {
      font-size: 12px;
      margin-right: 9px;
    }
    
  
    &__text-thin {
      font-weight: 300;
      cursor: pointer;
    }
  
    &__link {
      color: #fff;
    }
  
    p:hover,
    a:hover {
      text-decoration: underline;
    }
  }