

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
}

// HEIGHT POUR LES CARTES DES PLATS //

.nbdishes-9 {
    height: 1459px;
}
.nbdishes-10 {
    height: 1539px;
}
