.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
    background-color: #fff;

    -webkit-animation: space_spin 3000ms ease-in-out both;
    animation: space_spin 3000ms ease-in-out both;
}
  
  .loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    border-radius: 50%;
  
    border: 3px solid transparent;
    border-top-color: #9356DC;


  
    -webkit-animation: spin 2s linear infinite; 
            animation: spin 2s linear infinite; 
    
  }
  
  .loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
  
    border: 3px solid transparent;
    border-top-color: #FF79DA;
  
    -webkit-animation: spin 3s linear infinite; 
            animation: spin 3s linear infinite; 
  }
  
  .loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
  
    border: 3px solid transparent;
    border-top-color: #99E2D0;
  
    -webkit-animation: spin 1.5s linear infinite; 
            animation: spin 1.5s linear infinite; 
  }

  @-webkit-keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg); 
        -ms-transform: rotate(0deg);  
            transform: rotate(0deg);  
  
    }
    100% { 
      -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg); 
            transform: rotate(360deg);  
  
  
    }
  }
  @keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg);  
        -ms-transform: rotate(0deg); 
            transform: rotate(0deg);  
  
    }
    100% { 
      -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg);  
            transform: rotate(360deg);  
  
  
    }
}  

@-webkit-keyframes space_spin {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes space_spin {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

  
  .text {
    font-family: Shrikhand;
    font-size: 20px;
    display: block;
    position: relative;
    left: 50%;
    top: 48%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
  }

  
