

h1 {
    font-family: 'Shrikhand', 'cursive';
    font-size: 30px;
    font-style: normal;
    font-weight:400;
}

h2 {
    font-size: 23px;
    font-weight: 700;
    line-height: 1.2;
}

h3 {
    font-family: 'Shrikhand', 'cursive';
    font-style: normal;
    font-size: 29px;
    font-weight:400;
}

h4 {
    font-family: 'Shrikhand', 'cursive';
    font-style: normal;
    font-size: 19px;
    font-weight:400;
}

p {
    font-size: 19px;
    line-height: 1.3;
}

a {
    font-size: 19px;
    line-height: 1.3;
}