

h1 {
    font-family: 'Shrikhand', 'sans-serif';
    font-size: 30px;
    font-style: normal;
}

h2 {
    font-size: 23px;
    font-weight: 700;
    line-height: 1.2;
}

h4 {
    font-family: 'Shrikhand', 'sans-serif';
    font-style: normal;
    font-size: 19px;
}

p {
    font-size: 19px;
    line-height: 1.3;
}